* {
	box-sizing: border-box;
	color: #000;
}

#header-nav {
	border: 1px solid black;
	border-radius: 0%;
	background-color: gray;
	color:#000;
}

#nav-list{
	background-color: #ffffff;
}

#nav-list a {
	text-align: center;
}
.navbar-brand h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#header{
	color: #000;
}

.chck {
	color: #000;
}

.horizontal-rule {
	border: 1px solid black;
	width: 95%;
}
.xtras {
	background-color: gray;
	color: #000;
	margin: 20px auto;
}
.width {
	width:95%;
}
.xtras a {
	color: green;
}
/******** Small Device (xs) ********/
@media (max-width: 767px) {
	#collapsable-nav {
	border: 1px solid black;
    }
}